[submodule "CairoGraphics/ThirdParty/stb"]
	path = CairoGraphics/ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Volcano/ThirdParty/VulkanMemoryAllocator"]
	path = Volcano/ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
