--swiftversion 5.8
--exclude .build,.vscode,.swiftpm
--indent 4
--tabwidth 4
--xcodeindentation enabled
--decimalgrouping none
--binarygrouping none
--octalgrouping none
--hexgrouping none
--hexliteralcase uppercase
--exponentcase lowercase
--nospaceoperators ...,..<
--trimwhitespace nonblank-lines
--ifdef indent
--indentcase true
--modifierorder open,public,internal,internal(set),private,private(set),fileprivate,fileprivate(set),mutating,override,static,class,convenience,required,lazy,weak,unowned
--marktypes never
--extensionacl on-extension
--wrapenumcases always

--disable andOperator,assertionFailures,blankLinesBetweenImports,conditionalAssignment,emptyBraces,genericExtensions,opaqueGenericParameters,organizeDeclarations,preferKeyPath,redundantFileprivate,redundantGet,redundantLetError,redundantNilInit,redundantObjc,redundantOptionalBinding,redundantPattern,redundantRawValues,redundantReturn,redundantSelf,redundantType,redundantVoidReturnType,sortDeclarations,sortedImports,typeSugar,unusedArguments,void,wrap,wrapArguments,wrapAttributes,wrapConditionalBodies,wrapMultilineStatementBraces,wrapSingleLineComments,wrapSwitchCases,yodaConditions
